<div class="row g-4">
    <div class="col-sm-10 col-md-10 col-lg-8 col-xl-8">
        <div
            id="info-card" 
            class="card">
            <div class="card-body">
                <h4 class="card-title">My account</h4>
                <form>
                    <div class="text-end card-text">*are required</div>
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Email*</label>
                        <input type="email" class="form-control" id="inputEmail">
                    </div>
                    <div class="mb-3">
                        <label for="inputUsername" class="form-label">Username*</label>
                        <input type="text" class="form-control" id="inputUsername">
                    </div>
                    <div class="mb-3">
                        <label for="inputFirstName" class="form-label">First Name*</label>
                        <input type="text" class="form-control" id="inputFirstName">
                    </div>
                    <div class="mb-3">
                        <label for="inputLastName" class="form-label">Last Name*</label>
                        <input type="text" class="form-control" id="inputLastName">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-10 col-md-10 col-lg-4 col-xl-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Membership</h4>
                <p class="card-text">Permanently delete your account.</p>
                <button class="btn btn-danger">Delete account</button>
            </div>
        </div>
    </div>
</div>
